* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "iosevka nerd font";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #070F15;
    border: 2px solid #0B1822;
}

tooltip {
    background-color: #070F15;
    border: 2px solid #0B1822;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #1f2423;
    margin: 6px 0px 6px 6px;
    border: 2px solid #243231;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #698878;
}

#workspaces button.focused {
    color: #adb5a1;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    background-color: #1F2423;
    border: 2px solid #243231;
    color: #698878;
}

/*#tray {
    background-color: #FFFFFF;
    border: 2px solid #c7ab7a;
}*/

#battery {
    background-color: #1F2423;
    border: 2px solid #243231;
    color: #698878;
}

#cpu,
#memory,
#network,
#pulseaudio {
    background-color: #1F2423;
    border: 2px solid #243231;
    color: #698878;
}

#cpu.critical,
#memory.critical {
    background-color: #1F2423;
    border: 2px solid #243231;
    color: #A92D3B;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #1F2423;
    border: 2px solid #243231;
    color: #A92D3B;
}
